.header {
  background-color: var(--background-tertiary);
  color: var(--foreground-primary);
  padding: 20px 30px;
  border-bottom: 1px solid var(--background-quaternary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--foreground-primary);
}

.subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: var(--foreground-secondary);
  font-weight: 400;
}
